* {
  box-sizing: border-box;
}

div {
  border: solid black 1px;
  margin: 8px; 
}

#title {
  border: solid black 1px;
  width: 1002px;
  height: 100px;
  float: left;
  text-align: center; 
  border-radius: 10px;
  background-color: #660d33;
  color: white;
}

#nav {
  border: solid black 1px; 
  width: 300px;
  height: 500px;
  float: left;
  text-align: center;
  border-radius: 10px;
}

#main {
  border: solid black 1px;
  width: 686px;
  height: 500px;
  float: left;
  border-radius: 10px;
}

#footer {
  border: solid black 1px;
  width: 1002px;
  height: 100px;
  float: left;
  text-align: center;
  border-radius: 10px;

}

h5 {
  color: gray;
}

h2 {
  color: #660d33;
}


